 /*body{
  font-family: "Mulish";
  font-weight: 700;
  font-size: medium;
  width: 100%;
}*/


.container1 {
  /*border: solid green 2px;*/
  display: flex;
  
  
}

.grid-label {
  /*border: solid green 2px;*/
  text-align: right;
  align-items: center;
  /*margin-right: 20px;*/

  
  
}

.grid-input {
  /*border: solid green 2px;*/
  display: flex;
  text-align: left;
  align-items: center;
   /* font-weight: 500;
  font-size: medium;
  width: 100%;*/

}

input{
  font-weight: 500;
  font-size: large;
 /* background-color:lightgrey;*/
  border-radius:5px ;
}
input[type=date],input[type=text],input[type=number],input[type=tel],input[type=email],select,option{
  font-weight: 500;
  font-size: large;
  width: 500px;
  height: 30px;
  
   border-radius:3px ;

}
input[type=submit]{
  font-weight: 700;
  font-size:small;
  height: 50px;
  text-align: center;
}
input[type="checkbox"]{
  margin-left: -20px;
  /*background-color:lightgrey;*/
   border-radius:5px ;
 }
 input[type="radio"]{
  
  /*background-color:lightgrey;*/
   border-radius:5px ;
 }
/*.grid-btn {
  
  text-align: center;
  margin-left: 10px;
}
*/
.header{
  min-width: inherit;
  /*border: solid grey 2px;*/
}
hr{
  
  border-width:10;
  width: 100%;
}
#id{
  border: solid grey 2px;
  
}

.container {
  display: flex;
  /*border: solid red 4px;*/
 
  
}
.footer {
display: flex;
align-content: center;
align-items: center;
align-self: center;
border: solid green 2px;
}
h1{
  font-family: "Mulish";
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 0px;
  /* border: solid red 2px; */
  /* font-size:x-large; */
}

#title{
  font-family: "Mulish";
  font-weight: 900;
  
}

img {
  height: 100px;
  width: 250px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* border: solid red 2px; */
}
.App {
  text-align: center;
  background-color:white;
   font-weight: 500;
  font-size: medium;
  width: 100%;
}

/*.label{
  font-family: "Mulish";
  font-weight: 400;
  display: inline-block;
  font-size: small;
  color: black;
  padding: 5px;
  width: 240px;
  margin-right:-70px ;
}
 
.input{
  font-size: small;
  padding: 5px;
  margin: 2px;
  display: inline-block;
  width: 300px;
   background-color: lightgrey; 
  
}
*/
.footer{
    text-align: center;
}

.btnDiv,.btnDiv input{
   display: inline-block;
    text-align: center;
    margin-left: 35%;
    margin-right: 25%;
    width: 30%;
    font-weight: 500;
  font-size: large;
}

.btn{
 border-radius: 10px;
 border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 10px;
  background-color: #CFA660;
}
.required:after {
    content: "*";
    color: red;
  }
 
 .telephone{
   font-size: larger;
  padding: 5px;
  margin: 2px;
  display: inline-block;
  width: 365px;
  height: 20px;
  flex: inherit;
 }